@model List<String>
@{
    ViewData["Title"] = "Delete";
}
 

<div class="jumbotron">
    <h1 class="display-4">Se elimino Caja : @Model[0]</h1>
    <p class="lead">@Model[2]</p>
    <hr class="my-4"> 
    <a class="btn btn-primary btn-lg" href="#" onclick="goBack()" role="button">Regresar</a>
</div>